body {
    background-color: #dcdcdc;
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 10px;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;

}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
    color: #000;
    background-color: #9e9e9e;
}

header nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

#content {
    width: 70%;
    padding: 20px;  /* Увеличено */
}

#sidebar h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
    background: #00abff;
    color: white;
}
.article {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.article p {
    font-size: 16px;
    color: #666;
}

.comment {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
     border-top: 2px solid #4CAF50;
}

.comment p {
    margin: 0;
    font-size: 14px;
    color: #333;
}
.topic-list {
    list-style-type: none;
    padding: 0;
}

.topic-list li {
    margin-bottom: 10px;
}

.topic-list li a {
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
    color: #000;
    background-color: #9e9e9e;
}

.topic-list li a:hover {
    background-color: #ddd;
    color: black;
}
.comment-form {
    margin-top: 20px;
}

.comment-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #45a049;
}